<a href="https://colab.research.google.com/github/ayuksekdag/statistics_with_py/blob/main/statistik.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#descriptive statistics

import pandas as pd
from tabulate import tabulate

dataset1 = [15,18,25,16,14,20]
dataset2 = [2,3,3,23,38,39]
dataset3 = [3,18,16,15,16,40]
dataset4 = [17,18,19,17,18,19]
dataset5 = [18,18,18,18,18,18]

d1_s = pd.DataFrame(dataset1)
d2_s = pd.DataFrame(dataset2)
d3_s = pd.DataFrame(dataset3)
d4_s = pd.DataFrame(dataset4)
d5_s = pd.DataFrame(dataset5)

d1_sum = d1_s.describe()
d2_sum = d2_s.describe()
d3_sum = d3_s.describe()
d4_sum = d4_s.describe()
d5_sum = d5_s.describe()

#print ('dataset 1',d1_s.to_markdown())



d1_s.reset_index(drop=True)


print ('dataset 1 :',d1_s.transpose())
print (tabulate(d1_sum.transpose(),headers="keys",showindex="no"))
print ('dataset 2 \n',tabulate(d2_s.transpose(),showindex="no" ))
print (tabulate(d2_sum.transpose(),headers="keys",showindex="no"))
print ('dataset 3 \n',tabulate(d3_s.transpose(),showindex="no" ))
print (tabulate(d3_sum.transpose(),headers="keys",showindex="no"))
print ('dataset 4 \n',tabulate(d4_s.transpose(),showindex="no" ))
print (tabulate(d4_sum.transpose(),headers="keys",showindex="no"))
print ('dataset 5 \n',tabulate(d5_s.transpose(),showindex="no" ))
print (tabulate(d5_sum.transpose(),headers="keys",showindex="no"))

dataset 1 :     0   1   2   3   4   5
0  15  18  25  16  14  20
  count    mean      std    min    25%    50%    75%    max
-------  ------  -------  -----  -----  -----  -----  -----
      6      18  4.04969     14  15.25     17   19.5     25
dataset 2
 -  -  -  --  --  --
2  3  3  23  38  39
-  -  -  --  --  --
  count    mean      std    min    25%    50%    75%    max
-------  ------  -------  -----  -----  -----  -----  -----
      6      18  17.7313      2      3     13  34.25     39
dataset 3
 -  --  --  --  --  --
3  18  16  15  16  40
-  --  --  --  --  --
  count    mean      std    min    25%    50%    75%    max
-------  ------  -------  -----  -----  -----  -----  -----
      6      18  12.0499      3  15.25     16   17.5     40
dataset 4
 --  --  --  --  --  --
17  18  19  17  18  19
--  --  --  --  --  --
  count    mean       std    min    25%    50%    75%    max
-------  ------  --------  -----  -----  -----  -----  -----
      6      18  0.894427     17  17.25     18  18.75     19
dataset 5
 --  --  --  --  --  --
18  18  18  18  18  18
--  --  --  --  --  --
  count    mean    std    min    25%    50%    75%    max
-------  ------  -----  -----  -----  -----  -----  -----
      6      18      0     18     18     18     18     18

# New Section